*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f1f2f6;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  transition: width 0.2s ease-in-out;
}

::-webkit-scrollbar-track {
  background: #f1f2f6;
}

::-webkit-scrollbar-thumb {
  background: #758bfd;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8600;
}

.error-container {
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
}
